name: CI and build native image on native

permissions:
  contents: read

on:
  push:
    branches:
    - native

jobs:
  build-windows:
    name: Windows build
    runs-on: windows-latest
    steps:

    - name: Setup Maven
      uses: s4u/setup-maven-action@v1.19.0
      with:
        java-distribution: graalvm
        java-version: 21
        settings-servers: |
          [{
            "id": "github-thenestruo-parent",
            "username": "theNestruo",
            "password": "${{ secrets.THENESTRUO_PARENT_PASSWORD }}"
          }]

    - name: echo
      run: |
        mvn --version
        native-image --version

    - name: mvn native package (Windows)
      run: mvn --batch-mode --activate-profiles native package

    - name: Upload nightly build
      uses: actions/upload-artifact@v6
      with:
        name: windows-binaries
        path: target/precompression.exe
